
<p><h1> Hello, <%= @user_name %>! </h1></p>

<h2> You've liked these books: </h2>
  <% @user_favorite_books.map do |x| %>
<p> 
  - <%= x.title %>
</p>
<p>
  <% end %>
</p>

<h2>Here some reading suggestions based on people with similar taste:</h2>

<p>
  <% @recommendations.each do |title| %><p>
    - <%= title %><p>
  <% end %>
</p>

