
<p><h1 id="greetings"> Hello, <%= @user.name %>! </h1></p>

<h2 id="list_titles"> You've liked these books: </h2>
<p>
  <% @favorite_books.map do |x| %>
  <p>
    <%= x.title %>
  </p>
  <% end %>
</p>

<h2 id="list_suggestions">Here some reading suggestions based on people with similar taste:</h2>

<p id="recommendations">
  <% @user.recommended_books.map do |title| %>
  <p>
    <%= title %>
  </p>
  <% end %>
</p>

