
Inform your name to get reading suggestions:
<p></br>
<%= form_tag(books_path, :method => 'get', id: "search-form") do %>
  <p> 
    <%= text_field_tag :search, params[:search], placehorlder: "Search User" %>
    <%= submit_tag "Go", :name => nil %>
  </p>
<% end %>




